
:root {
    --accent-color: #06ccf9;
}

/* Animated Gradient Background */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Montserrat', sans-serif; /* Modern sans-serif font */
    color: #333;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Dark mode styles */
html.dark body {
    background: linear-gradient(-45deg, #1a1a1a, #2c3e50, #34495e, #2c3e50);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: #f0f0f0;
}

html.dark .accent-color {
    color: var(--accent-color);
}

html.dark a {
    color: var(--accent-color);
}

html.dark h1, html.dark h2, html.dark h3, html.dark h4, html.dark p {
    color: #f0f0f0;
}


/* Typography */
h1, h2, h3 {
    font-weight: 700;
}

/* Accent color */
.accent-color {
    color: var(--accent-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}
